/* 
    Como criar uma estrutura básica no css:

    Seletor{
        propriedade: valor;
    }

    Seletor composto = define o pai, depois os filhos;

    Em HTML e CSS definir as classes/ID com hifen

    pseudoelemento é um elemento que depende de uma tag para existir
*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

img{
    border: 0.6em solid #30665c;
    width: 20em;
}

nav a{
    color: black;
    font-size: 2em;
    text-decoration: none;
}

nav a:hover{
    color: #1EA61A;
}

#header-pesquisa{
    border: 0.2em solid #1EA61A;
    color: black;
    height: 2em;
    text-align: center;
}

#header-pesquisa::placeholder{
    color: #1EA61A;
}

textarea{
    resize: none;
}